<!-- html page structure  -->
{% extends "base.html" %}

<!-- Land page  -->
{% block title %} Home page {% endblock%}

{% block content %}

<!-- Action call -->

<h2>Type your chosen <a href="https://fr.aptoide.com/" target="_black"> aptoide app's </a> url, <br> and I will give you all the data  🕵🏻‍♀️ !</h2>

<br>

<!-- Form -->


<form action="/url" method="POST">

	<input type="text" placeholder=" Aptoide app's url " name="url" >

  <!-- is there any way to protect the form?
get method? -->


	<input type="submit" value="give me the data!">

</form>

{% endblock %}