<!-- html page structure  -->
{% extends "base.html" %}

<!-- Land page  -->
{% block title %} Home page {% endblock%} {% block content %}

<!-- Action call -->

<h2>Type your chosen <a href="https://fr.aptoide.com/" target="_black"> aptoide app's </a> url, <br> and I will retrieve you  :</h2>

<p>✅ App's name</p> 
<p>✅ App's description</p>
<p>✅ App's version </p>
<p>✅ Number of downloads</p>
<p>✅ Release date</p>
<p>✅ App's description</p>


<br>

<!-- Form -->


<form action="/url" method="POST">

	<input type="text" placeholder=" Aptoide app's url " name="url" >


	<input type="submit" value="give me the data!">

</form>

{% endblock %}